{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="container">
 {% if not users.items is same as([]) %}
<div class="count">
    {{ users.getTotalItemCount }} User(s)
</div>
<table class="table table-hover">
  <thead>
    <tr>   
      <th scope="col">FullName</th>
      <th scope="col">Pseudo</th>
      <th scope="col">Email</th>
      <th scope="col">Date d'ajout</th>
    </tr>
  </thead>
  <tbody>
 
 {% for message in app.flashes('notice') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
  {% for users in users %}
    <tr class="table-active">
      <td>{{ users.fullname }}</td>
      <td>{{users.pseudo}}</td>
      <td>{{ users.email }}</td>
      <td>{{ users.createdAt | format_datetime ('short', 'short', locale='tn') }}</td>
    </tr>
    <tr>  
    </tbody>
    {% endfor %}
   
</table>
<div class="navigation d-flex justify-content-center">
    {{ knp_pagination_render(users) }}
</div>
{% else %}
			<h4>Il n'y a pas d'utilisateur</h4>

			<a href="{{ path('app_new_user') }}" class="btn btn-primary">
				Créer un utilisateur
			</a>
             {% endif %}
             <a href="{{ path('app_new_user') }}" class="btn btn-primary">
				Créer un utilisateur
			</a>
		
</div>

{% endblock %}
